// $mainColor:#7C88AE; //灰色
// // $mainColor:#297FCA;//蓝色
// // $mainColor:#525A65; // 深灰色


$darkColor:#1C2531;
$lightDarkColor:rgba(39,49,66,.4);
$cardBorderColor:rgba(49,61,79,.4);

$textLigh:#626F86;
$blue:#4C84FF;
$green:#4AD991;
$yellow:#FFB844;
$red: #FF5FA3;
$medium-grey:#807e8f;
$light-grey:#b9b8c1;

$greenColor:#00c5d2;
$yellowColor:#edcd61;
$redColor:#ff87d4;


$paddingSize:12px;